body{
  position: relative;
}

#layer{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 3; /* ヘッダー・ボディーより手前に */
  display: none;
}
/* ========================== */
/* ヘッダー              */
/* ========================== */
header{
  width: 100%;
  height: 80px;
  background-color: #FC3666;
  color: #fff;
  position: fixed;
  top: 0;
  overflow-x: hidden; /* メニューが誤って表示されないように */
  z-index: 2;
}

header h1, header p{
  margin: 0;
  padding: 0;
}

header h1#brand{
  position: absolute;
  top: 20px;
  left: 20px;
}

header #openMenu{
  position: absolute;
  top: 20px;
  right: 20px;
}

header nav#global-menu{
  position: fixed;
  top: 0;
  right: -200px; /* 幅の分だけ隠す */
  width: 200px;
  height: 100%; /* 画面縦全部 */
  background-color: #fff;
}

header nav#global-menu span#close-btn{
  display: block;
  width: 30px;
  height: 20px;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #FC3666;
  cursor: pointer;
}

header nav#global-menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav#global-menu ul li{
  padding: 10px;
  border-bottom: 1px dotted #FC3666;
}

header nav#global-menu ul li a{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

/* ========================== */
/* コンテンツ              */
/* ========================== */
#content{
  padding: 80px 10px 10px;
}




/* ========================== */
/* フッター              */
/* ========================== */

footer{
  width: 100%;
  height: 50px;
  background-color: #F7003E;
  color: #fff;
}

footer p#copy{
  margin: 0;
  padding: 0;
  line-height: 50px;
  text-align: center;
}
